[Desktop Entry]
Type=Application
Name=CSV Viewer
Comment=View CSV files
Exec=csv-viewer %f
MimeType=text/csv;text/plain;
NoDisplay=true
Keywords=csv;data;
StartupNotify=true
